@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url('../fonts/BarlowCondensed-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: url('../fonts/BarlowCondensed-Medium.woff2') format('woff2');
}

body {
    height: 100vh;
    margin: 0;
}

.logo__container {
    margin-top: 10vw;
    text-align: center;
}

.logo__icon {
    max-width: 50vw;
}

.logo__text {
    margin: 0;
    font-size: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    
}

@media (min-width: 240px) {
    .logo__text {
        font-size: 20vw;
    }
}

@media (min-width: 640px) {
    .logo__text {
        font-size: 8rem;
    }
}
